/* @media screen and (max-width: 1500px) { */
/* 	.sizeModal { */
/* 		width: 1500px; */
/* 	    height: 50000px; */
/* 	    background-color: black; */
/* 	    opacity: 0.8; */
/* 	    position: fixed; */
/* 	    top: 0; */
/* 	    z-index: 5; */
/* 	    display: block !important; */
/* 	} */
/* 	.textModal { */
/* 		width: 1500px; */
/* 	    color: white; */
/* 	    font-size: 80px; */
/* 	    margin: 124px auto; */
/* 	    text-align: center; */
/* 	    line-height: 3; */
/* 	    z-index: 6; */
/* 	    display: block !important; */
/* 	} */
/* } */
.sizeModal {
	display: none;
}
.textModal {
	display: none;
}
body {
	min-width: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		font-family: 'Nanum Gothic', sans-serif;
	}
	a {
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}
	.hidden {
		display: none;
	}
	.find_pw_wrap {
		width: 30%;
		margin: auto;
		margin-top: 30px;
	}
	.find_pw_wrap > .form_title {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
	}
	.find_pw_wrap > .find_pw_form {
		width: 100%;
	}
	.find_pw_wrap > .find_pw_form > .search_category > ul {
		width: 100%;
		list-style: none;
		display: flex;
		padding: 0;
		margin: 25px 0;
	}
	.find_pw_wrap > .find_pw_form > .search_category > ul > li {
		width: 50%;
		border-bottom: 1px solid #707070;
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 10px;
		text-align: center;
		cursor: pointer;
	}
	.find_pw_wrap > .find_pw_form > .search_category > ul > .email_choice {
		color: #72886C;
		border-bottom: 2px solid #72886C;
	}
	.find_pw_wrap > .find_pw_form > .id_input {
		width: 100%;
		padding-bottom: 15px;
		border-bottom: 1px solid #707070;
		display: flex; 
	}
	.find_pw_wrap > .find_pw_form > .id_input > input {
		all: unset;
		width: 93%;
		font-size: 14px;
		padding-left: 10px;
	}
	.find_pw_wrap > .find_pw_form > .id_input > .user_icon {
		width: 15px;
		height: 20px;
		background-size: 100%;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.find_pw_wrap > .find_pw_form > .phone_input {
		width: 100%;
		display: flex; 
	}
	.find_pw_wrap > .find_pw_form > .phone_input > .phone_input_num {
		width: 100%;	
		padding: 15px 0;
		border-bottom: 1px solid #707070;
		display: flex;
	}
	.find_pw_wrap > .find_pw_form > .phone_input > .phone_input_num > input {
		all: unset;
		width: 80%;
		font-size: 14px;
		padding-left: 10px;
	}
	.find_pw_wrap > .find_pw_form > .phone_input > .phone_input_num > .right_td_btn {
		width: 100px;
    	height: 25px;
    	border: 1px solid #707070;
    	color: #707070;
    	font-size: 13px;
    	background-color: white;
    	vertical-align: middle;
    	cursor: pointer;
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}
	.find_pw_wrap > .find_pw_form > .phone_input > .company_select {
		width: 45%;	
		padding: 15px 0;
		border-bottom: 1px solid #707070;
	}
	.find_pw_wrap > .find_pw_form > .phone_input > .company_select > select {
		border: none;
		width: 100%;
		outline: none;
	}
	.find_pw_wrap > .find_pw_form > .email_input {
		width: 100%;
		display: flex; 
		align-items: center;
	}
	.find_pw_wrap > .find_pw_form > .email_input > .email_input_text {
		width: 55%;	
		padding: 15px 0;
		border-bottom: 1px solid #707070;
		margin-right: 10px;
		display: flex;
	}
	.find_pw_wrap > .find_pw_form > .email_input > .email_input_text > input {
		all: unset;
		width: 50%;
		font-size: 14px;
		padding-left: 10px;
	}
	.find_pw_wrap > .find_pw_form > .email_input > .email_select {
		width: 45%;	
		padding: 15px 0;
		border-bottom: 1px solid #707070;
	}
	.find_pw_wrap > .find_pw_form > .email_input > .email_select > select {
		border: none;
		width: 100%;
		outline: none;
	}
	.find_pw_wrap > .find_pw_form > .email_input > .right_td_btn {
		width: 100px;
    	height: 25px;
    	border: 1px solid #707070;
    	color: #707070;
    	font-size: 13px;
    	background-color: white;
    	vertical-align: middle;
    	cursor: pointer;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	margin-left: 5px;
	}
	.find_pw_wrap > .find_pw_form > input[type="submit"] {
		all: unset;
		width: 100%;
		margin: 20px 0;
		padding: 12px 0;
		font-size: 20px;
		font-weight: bold;
		background-color: #72886C;
		color: white;
		text-align: center;
		cursor: pointer;
	}
	.find_pw_wrap > .join_search_login {
		width: 100%;
		text-align: center;
	}
	.find_pw_wrap > .join_search_login > ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
	}
	.find_pw_wrap > .join_search_login > ul > li {
		border-right: 1px solid #707070;
		margin-right: 5px;
		padding-right: 5px;
		font-size: 13px;
	}
	.find_pw_wrap > .join_search_login > ul > li:last-child {
		border-right: none;
	}
	
@media screen and (max-width: 1024px) {
	body {
		min-width: 1024px !important;
	}
	.find_pw_wrap {
    	width: 60%;
	}
	footer {
		position: absolute;
		bottom: 0;
	}
}
@media screen and (max-width: 768px) {
	body {
		min-width: 768px !important;
	}
}
@media screen and (max-width: 360px) {
	body {
		min-width: 360px !important;
	}
}

